#contenedor {
  background: rgba(5, 7, 12, 0.4);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
#contenedor .carousel-indicators [data-bs-target] {
  background-color: #000;
}
#contenedor .carousel-inner img {
  border-radius: 10px;
}

#tituloInicio {
  background: rgba(23, 32, 50, 0.75);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
#tituloInicio h1 {
  font-weight: bold;
}
#tituloInicio p {
  font-weight: bold;
}

#videoInicio picture {
  background: rgba(5, 7, 12, 0.4);
  padding: 10px;
  border-radius: 10px;
}
#videoInicio iframe {
  border-radius: 10px;
}

.section1 {
  background-color: #233250;
  border-radius: 10px 10px 0 0;
}
.section1 .titulo-empresa {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.section1 .hexagono-lista__img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  border-radius: 50px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.historia {
  background-color: #233250;
  opacity: 85%;
  width: 100%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-align: justify;
  padding: 5px;
  display: inline-block;
  border-radius: 0 0 10px 10px;
}
.historia p {
  text-align: center;
  padding: 10px;
}
.historia .lista-historia {
  list-style: none;
  text-align: center;
}

.descripcion {
  background-color: #999;
  opacity: 85%;
  border-radius: 10px;
}
.descripcion h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

.valores-container {
  display: flex;
  justify-content: center;
}
.valores-container .valores {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.valores-container .valores li {
  margin-top: 10px;
  width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.valores-container .valores li h4 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.valores-container .valores li p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.valores-container .valores li .dinamismo-icono {
  font-size: 100px;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 20px;
  margin-left: 10px;
}
.valores-container .valores li .calidad-icono {
  font-size: 100px;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 20px;
  margin-left: 10px;
}
.valores-container .valores li .innovacion-icono {
  font-size: 100px;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 20px;
  margin-left: 10px;
}
.valores-container .valores li .compromiso-icono {
  font-size: 100px;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 20px;
  margin-left: 10px;
}
.valores-container .valores li .flecha {
  color: #fff;
  display: block;
  position: relative;
  left: 67px;
  top: 10px;
  font-size: 25px;
}
@media screen and (max-width: 875px) {
  .valores-container .valores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .valores-container .valores p {
    display: none;
  }
}

.misionVision {
  background-color: #233250;
  opacity: 95%;
  border-radius: 10px;
}
.misionVision .tituloMisionVision {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.misionVision .misionVision-lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  margin-bottom: 0;
  max-width: 95%;
}
.misionVision .misionVision-lista li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.misionVision .misionVision-lista li .vision-icono {
  font-size: 100px;
  border: solid 1px #999;
  border-radius: 50%;
  background-color: #999;
  margin-left: 10px;
}
.misionVision .misionVision-lista li .mision-icono {
  font-size: 100px;
  border: solid 1px #999;
  border-radius: 50%;
  background-color: #999;
  margin-left: 10px;
}
.misionVision .misionVision-lista li h4 {
  color: white;
  padding: 0 20px;
  text-align: center;
}
.misionVision .misionVision-lista li p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .misionVision .misionVision-lista li h4 {
    display: none;
  }
  .misionVision .misionVision-lista li p {
    padding-left: 10px;
  }
}

footer {
  background: rgba(5, 7, 12, 0.7);
  min-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}
footer .logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logoFooter img {
  max-width: 120px;
  padding-top: 10px;
}
footer .contacto {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .contacto p {
  color: #fff;
  margin-top: 5px;
}
footer .redesFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer .redesFooter .icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}
footer .redesFooter .icon:hover {
  background-color: #c4302b;
  box-shadow: 0 0 20px #c4302b;
}
footer .redesFooter .icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
footer .redesFooter .icon:hover:nth-child(3) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366;
}
footer .redesFooter .icon:hover:nth-child(4) {
  background-color: #0e76a8;
  box-shadow: 0 0 20px #0e76a8;
}
footer .redesFooter .icon svg {
  width: 80px;
  height: 80px;
}
footer .redesFooter .icon svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}
footer .redesFooter .icon:hover circle {
  stroke-dasharray: 220;
}
footer .redesFooter .icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
}

/*# sourceMappingURL=style.css.map */
