*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Barra de navegación */

header{
    /* background: rgba(53, 142, 205, 0.4); */
    background-color: rgba(53, 142, 205, 0.4);
    border-radius: 0 0 10px 10px;

}

.headerContainer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogo img{
    width: 400px;
    padding: 5px 30px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    list-style: none;
}

.main-nav__item {
    padding: 5px 12px;
    margin: 5px 0px;
}

.main-nav__item a {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding: 5px;
} 

.main-nav__item a::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #999;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.main-nav__item a:hover::after {
    transform: scaleX(1);
}

@media screen and (min-width: 960px) {
    
    .headerContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav {
        flex-direction: row;
        margin: 0%;
        padding-bottom: 0%;
        padding-right: 20px;
    }
}

/* Termina el navbar */

/* SECCIÓN INICIO */

#contenedor {
    background: rgba(5, 7, 12, 0.40);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.carousel-inner img {
    border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
}

#tituloInicio {
    background: rgba(23, 32, 50, 0.75);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

#tituloInicio h1 {
    font-weight: bold;
}

#tituloInicio p {
    font-weight: bold;
}

#videoInicio picture {
    background: rgba(5, 7, 12, 0.40);
    padding: 10px;
    border-radius: 10px;
}

#videoInicio iframe {
    border-radius: 10px;
}

/* TERMINA SECCIÓN INICIO */


/* SECCIÓN NOSOTROS */

.section1 {
    background-color: #233250;
    margin-top: 15px;
    opacity: 85%;
    border-radius: 10px 10px 0 0;
}

.titulo-empresa {
    color: #999;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.hexagono-lista {
    display: inline-block;
}

.hexagono-lista__img {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 50px;
    position: relative;
    left: 25px;
    margin: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}

.historia {
    background-color: #233250;
    opacity: 85%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    padding: 5px;
    display: inline-block;
    border-radius: 0 0 10px 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* Sección valores y misión */

.descripcion {
    background-color: #999;
    opacity: 85%;
    margin-top: 15px;
    border-radius: 10px;
}

.descripcion h2 {
    color: #000;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.valores li {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    display: inline-block;
    position: relative;
    left: 250px;
}

.valores h4 {
    color: #fff;
}

.valores p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.dinamismo-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.calidad-icono{
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.innovacion-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.compromiso-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.flecha {
    color: #fff;
    display: block;
    position: relative;
    left: 70px;
}

h4 {
    margin-left: 40px;
}

.misionVision {
    background-color: #233250;
    opacity: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.tituloMisionVision {
    color: #999;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.vision-icono {
    font-size: 100px;
    border: solid 1px #999;
    border-radius: 50%;
    background-color: #999;
    margin-left: 10px;
}

.mision-icono {
    font-size: 100px;
    border: solid 1px #999;
    border-radius: 50%;
    background-color: #999;
    margin-left: 10px;
}

.misionVision-lista h4 {
    color: #fff;
}

.misionVision-lista p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* TERMINA SECCIÓN NOSOTROS */

/* SECCIÓN PRODUCTOS */

.producto {
    display: grid;
    background: rgba(5, 7, 12, 0.40);
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid black;
}

.producto h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contenedor-videos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    margin: 10px;
}

.producto-video {
    width: 100%;
    display: grid;
    justify-content: center;
}

.producto-video__item {
    max-width: 90%;
    margin: 10px;
    border-radius: 10px;
}

.producto p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: justify;
    width: 90%;
}

.alcance {
    display: grid;
    background: rgba(23, 32, 50, 0.9);
    border-radius: 10px;
}

.alcance h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

.alcance-lista {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    list-style: none;
}

.alcance-lista li {
    color:#fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.alcance-lista h4 {
    margin: 10px;
}


.alcance-lista p {
    padding: 0 5px 5px 5px;
    text-align: center;
}

/* TERMINA SECCIÓN PRODUCTOS */

/* SECCIÓN SERVICIOS */

.servicio {
    background: rgba(23, 32, 50, 0.90);
    margin: 10px;
    border-radius: 10px;
}

.imagenServicio img {
    margin: 10px;
    width: 98%;
    height: 250px;
}

.servicio h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.servicio p {
    padding: 10px;
    text-align: center;
    color: #999;
}

.main-servicio {
    padding: 10px;
    background: rgba(5, 7, 12, 0.40);
    border-radius: 10px;
}

.main-servicio h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
}

.main-servicio ul {
    list-style: "*";
    color: #233250;
    font-style: bold;
    font-size: 20px;
    position: relative;
    left: 55px;
    display: inline-block;
}

/* TERMINA SECCIÓN SERVICIOS */

/* SECCIÓN CONTACTO */

.contactese {
    padding-top: 10px;
}

.contactese img {
    width: 100%;
}

.mainContacto {
    background-color: #999;
    background: rgba(5, 7, 12, 0.40);
    border-radius: 10px;
    margin-top: 15px;
    max-height: 750px;
}

.mainContacto h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.formulario {
    margin: 50px 0 50px 50px;
    display: inline-block;
    position: relative;
}

.formulario input {
    display: inline-block;
    width: 200px;
}


.mapa iframe {
    display: inline-block;
    position: relative;
    left: 750px;
    top: -330px;
    width: 500px;
    height: 400px;
}



/* TERMINA SECCIÓN CONTACTO */

/* Pie de página */

footer {
    background: rgba(5, 7, 12, 0.70);
    margin-top: 20px;
    min-width: 100%;
    border-radius: 10px;
}

footer p {
    color: #fff;
    margin-top: 5px;
}

.redesFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
}

.icon svg {
    width: 80px;
    height: 80px;
}

.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #c4302b;
    box-shadow:  0 0 20px #c4302b ;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
}

.icon:hover:nth-child(4) {
    background-color: #0e76a8;
    box-shadow:  0 0 20px #0e76a8 ;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}

.contacto {
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter img {
    max-width: 120px;
    padding-top: 10px;
}


