*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/imagenes/fondo.png);
    background-size: 100%;
}

/* Barra de navegación */

header{
    background-color: rgb(252, 243, 252);
}

.headerContainer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogo img{
    width: 400px;
    padding: 25px 30px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    list-style: none;
}

.main-nav__item {
    padding: 5px 12px;
}

.main-nav__item a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.main-nav__item a:hover {
    color: blue;
}


/* nav{
    background: url(/imagenes/banner.jpg);
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 80%;
    display: grid;
    min-width: 100%;
    min-height: 100%;
}

.main-nav {
    margin: 5px;
    list-style: none;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.img_logo a {
    display: flex;
    justify-content: flex-start;
}

.img_logo img {
    width: 370px;
}

.main-nav__item{
    display: flex;
    align-items: center;
    border: outset 1px black;
    border-radius: 50px;
    height: 50%;
    padding: 5px;
    background-color: #999;
}

.main-nav__item a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: #233250;
} */

/* Termina el navbar */

/* SECCIÓN INICIO */

.contenedor {
    background: rgba(5, 7, 12, 0.40);
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.imagenesContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.imagenesContenedor img {
    width: 90%;
    border-radius: 10px;
}

.tituloInicio {
    background: rgba(23, 32, 50, 0.75);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.videoInicio {
    background: rgba(5, 7, 12, 0.40);
    margin: 15px auto;
    padding: 10px;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.videoInicio iframe {
    margin: 30px 0;
    max-width: 100%;
    border-radius: 10px;
}

/* TERMINA SECCIÓN INICIO */


/* SECCIÓN NOSOTROS */

.section1 {
    background-color: #233250;
    margin-top: 15px;
    opacity: 85%;
    border-radius: 10px 10px 0 0;
}

.titulo-empresa {
    color: #999;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.hexagono-lista {
    display: inline-block;
}

.hexagono-lista__img {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 50px;
    position: relative;
    left: 25px;
    margin: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}

.historia {
    background-color: #233250;
    opacity: 85%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    padding: 5px;
    display: inline-block;
    border-radius: 0 0 10px 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* Sección valores y misión */

.descripcion {
    background-color: #999;
    opacity: 85%;
    margin-top: 15px;
    border-radius: 10px;
}

.descripcion h2 {
    color: #000;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.valores li {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    display: inline-block;
    position: relative;
    left: 250px;
}

.valores h4 {
    color: #fff;
}

.valores p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.dinamismo-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.calidad-icono{
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.innovacion-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.compromiso-icono {
    font-size: 100px;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 20px;
    margin-left: 10px;
}

.flecha {
    color: #fff;
    display: block;
    position: relative;
    left: 70px;
}

h4 {
    margin-left: 40px;
}

.misionVision {
    background-color: #233250;
    opacity: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.tituloMisionVision {
    color: #999;
    display: inline-block;
    position: relative;
    left: 540px;
    margin-top: 5px;
}

.vision-icono {
    font-size: 100px;
    border: solid 1px #999;
    border-radius: 50%;
    background-color: #999;
    margin-left: 10px;
}

.mision-icono {
    font-size: 100px;
    border: solid 1px #999;
    border-radius: 50%;
    background-color: #999;
    margin-left: 10px;
}

.misionVision-lista h4 {
    color: #fff;
}

.misionVision-lista p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* TERMINA SECCIÓN NOSOTROS */

/* SECCIÓN PRODUCTOS */

.producto {
    display: grid;
    background: rgba(5, 7, 12, 0.40);
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid black;
}

.producto h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contenedor-videos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    margin: 10px;
}

.producto-video {
    width: 100%;
    display: grid;
    justify-content: center;
}

.producto-video__item {
    max-width: 90%;
    margin: 10px;
    border-radius: 10px;
}

.producto p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: justify;
    width: 90%;
}

.alcance {
    display: grid;
    background: rgba(23, 32, 50, 0.9);
    border-radius: 10px;
}

.alcance h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

.alcance-lista {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    list-style: none;
}

.alcance-lista li {
    color:#fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.alcance-lista h4 {
    margin: 10px;
}


.alcance-lista p {
    padding: 0 5px 5px 5px;
    text-align: center;
}

/* TERMINA SECCIÓN PRODUCTOS */

/* SECCIÓN SERVICIOS */

.servicio {
    background: rgba(23, 32, 50, 0.90);
    margin: 10px;
    border-radius: 10px;
}

.imagenServicio img {
    margin: 10px;
    width: 98%;
    height: 250px;
}

.servicio h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.servicio p {
    padding: 10px;
    text-align: center;
    color: #999;
}

.main-servicio {
    padding: 10px;
    background: rgba(5, 7, 12, 0.40);
    border-radius: 10px;
}

.main-servicio h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
}

.main-servicio ul {
    list-style: "*";
    color: #233250;
    font-style: bold;
    font-size: 20px;
    position: relative;
    left: 55px;
    display: inline-block;
}

/* TERMINA SECCIÓN SERVICIOS */

/* SECCIÓN CONTACTO */

.contactese {
    padding-top: 10px;
}

.contactese img {
    width: 100%;
}

.mainContacto {
    background-color: #999;
    background: rgba(5, 7, 12, 0.40);
    border-radius: 10px;
    margin-top: 15px;
    max-height: 750px;
}

.mainContacto h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.formulario {
    margin: 50px 0 50px 50px;
    display: inline-block;
    position: relative;
}

.formulario input {
    display: inline-block;
    width: 200px;
}


.mapa iframe {
    display: inline-block;
    position: relative;
    left: 750px;
    top: -330px;
    width: 500px;
    height: 400px;
}



/* TERMINA SECCIÓN CONTACTO */

/* Pie de página */

footer {
    background: rgba(5, 7, 12, 0.40);
    margin-top: 75px;
    min-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}


.redesFooter img {
    width: 80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contacto {
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter img {
    max-width: 100px;
}


